# Free SS

Source: [https://fast.ishadowx.net/](https://fast.ishadowx.net/)

Project: [Github](https://github.com/arcnavier/ss)

Last checked: {{ update }}

ShadowsocksR Subscribe:

```
https://arcnavier.github.io/ss/ssr.txt
```

{{#data}}
## {{name}}

{{{encodehtml}}}

```
{{{encodecmd}}}
```

{{/data}}
